@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    :root {
        --theme: "#fff"
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme: "#0d1117"
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    /*background-color: #010409;
    color: #f0f6fc;*/
    line-height: 1.5;
    margin: 0 auto;
}

@layer base {
    body {
        @apply bg-[#fff] dark:bg-[#0d1117] !important;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

.term-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 1em 0;
}

@media (max-width: 770px) {
    .term-tags {
        justify-content: left;
        -webkit-overflow-scrolling: touch;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}


.active {
    @apply text-[#0969da] dark:text-[#58A6FF] border-b-2 border-[#0969da] dark:border-[#58A6FF] !important;
}

.activetab {
    @apply active:bg-[#ddf4ff] active:dark:bg-[#388bfd26] active:text-[#0969da] active:dark:text-[#58A6FF] active:border-[#54aeff66] active:dark:border-[#388bfd66] !important;
}