@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    background-color: #010409!important;
    color: #f0f6fc;
    line-height: 1.5;
    margin: 0 auto;
}

 ::-webkit-scrollbar {
    width: 0px;
}

.term-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 1em 0;
}

@media (max-width: 770px) {
    .term-tags {
        justify-content: left;
        -webkit-overflow-scrolling: touch;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}

